<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>{{ selected_project.name }}</h2>

<h3><a href="{% url 'newtask' project_id=selected_project.id %}">Créer une tâche</a> </h3>

{% for task in selected_project.task_set.all %}
        <div>
            <a href="{% url 'task' task_id=task.id %}">{{ task.name }}</a>
            <a href="{% url 'edittask' task_id=task.id %}">Modifier cette tâche</a>
        </div>
    {% empty %}
        <p>Aucune tache.</p>
    {% endfor %}

</body>
</html>