<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "taskmanager/header.html" %}
{% block navigation %}
<div><a href="{% url 'projects' %}">Projets</a></div>
{% endblock %}

{% block main %}
<h2>Projets</h2>
<table>
    {% for project in user_projects %}
        <tr><td>
            <a href="{% url 'project' project_id=project.id %}">{{ project.name }}</a>
        </td></tr>
    {% empty %}
        <tr><td>Aucun projet.</td></tr>
    {% endfor %}
</table>

{% endblock %}
</body>
</html>