<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "taskmanager/header.html" %}
{% block main %}
    <div>
        <a href="{% url 'projects' %}">Projets</a> /
        <a href="{% url 'project' project_id=selected_task.project.id%}">{{ selected_task.project.name }}</a> /
        <a href="{% url 'task' task_id=selected_task.id%}">{{selected_task.name}}</a>
    </div>


    <h4><a href="{% url 'edittask' task_id=selected_task.id %}">Modifier cette tâche</a> </h4>
    <h2>{{ selected_task.project.name }}</h2>
    <h3>{{selected_task.name}}</h3>

    <p>
        <div>Description: {{ selected_task.description }}</div>
        <div>Assignee: {{selected_task.assignee}}</div>
        <div>Start date: {{selected_task.start_date}}</div>
        <div>Due date: {{selected_task.due_date}}</div>
        <div>Priority level: {{selected_task.priority}}</div>
        <div>Status: {{selected_task.status}}</div>
    </p>

    <div>History</div>
    {% for journal in entries %}
        <div>
            {{journal.author}} ({{ journal.date }}): {{journal.entry}}
        </div>
    {% empty %}
        <p>Aucun journal.</p>
    {% endfor %}

    <form action="{% url 'task' task_id=selected_task.id%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
</body>
</html>